In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
sns.set()
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix

In [2]:
data = pd.read_csv('iris.csv')

In [3]:
data.shape

(150, 5)

In [4]:
data.head(5)

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [5]:
label_encoder = LabelEncoder()
data['class']= label_encoder.fit_transform(data['class'])

In [6]:
data.head(5)

   sepal_length  sepal_width  petal_length  petal_width  class
0           5.1          3.5           1.4          0.2      0
1           4.9          3.0           1.4          0.2      0
2           4.7          3.2           1.3          0.2      0
3           4.6          3.1           1.5          0.2      0
4           5.0          3.6           1.4          0.2      0

In [7]:
train_x,test_x,train_y,test_y =  train_test_split(data.iloc[:,:4],data.iloc[:,4:],test_size = 0.3,random_state = 10)

In [8]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
lda = LinearDiscriminantAnalysis()

In [9]:
X_lda = lda.fit_transform(train_x,train_y)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [10]:
lda.explained_variance_ratio_

array([0.99100755, 0.00899245])

In [12]:
y_pred = lda.predict(test_x)

In [14]:
confusion_matrix(test_y, y_pred)

array([[14,  0,  0],
       [ 0, 17,  0],
       [ 0,  0, 14]])